@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>♪【伴读试听】《宝宝的量子物理学》全六集</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../../css/site2.css" />
    <script type="text/javascript" src="../../lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div class="container body-content">
        @*<img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BabyPhisics/BabyPhisics.png" style="width: 98%; display: block;margin: 0 auto;">*@
        <div class="rich_media_content " id="js_content">
            <ul class="list-album" sound_ids="">
                <li class="item" data-url="/14043986/album/3646417">
                    <a href="http://www.tigerartstudio.cn/wechat/BabyPhisics/NewtonianPhysicsForBabies">
                        <span class="pic default-img fl">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BabyPhisics/NewtonianPhysicsForBabies.png">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">宝宝的牛顿力学</p>
                            <p class="cont">
                                牛顿力学是现代物理学乃至现代科学的基石，牛顿三大定律精炼而全面概况了牛顿物理学的几乎全部内容。克里斯·费利所著的《宝宝的牛顿力学》通过绘本的形式将牛顿三大定律予以完美阐释，给宝宝们的物理学打下了坚实基础。本书可作为婴幼儿早教的绘本书，亦可作为学龄前孩子的科普书，是带领宝宝们叩响科学之门的启蒙佳作。
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item" data-url="/14043986/album/3646417">
                    <a href="http://www.tigerartstudio.cn/wechat/BabyPhisics/TheABCsOfPhysics">
                        <span class="pic default-img fl">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BabyPhisics/TheABCsOfPhysics.png">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">宝宝的物理学ABC</p>
                            <p class="cont">
                                克里斯·费利所著的《宝宝的物理学ABC》根据ABC……XYZ的次序将物理学中最基本的概念，如原子（Atom）、黑洞（BlackHole）、电荷（Charge）等等，通过生动有趣又浅显易懂的绘本形式传递给学龄前的孩子们，让孩子们在婴幼儿时期就早早感受到了科学的魅力。
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item" data-url="/14043986/album/3646417">
                    <a href="http://www.tigerartstudio.cn/wechat/BabyPhisics/OpticalPhysicsForBabies">
                        <span class="pic default-img fl">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BabyPhisics/OpticalPhysicsForBabies.png">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">宝宝的光学</p>
                            <p class="cont">
                                光学是经典物理学非常重要的基石之一，也是十分生动有趣的物理内容。克里斯·费利主编的《宝宝的光学》通过绘本的形式依次阐释了光的反射、投射、折射、色散等诸多现象，直至解释了彩虹的产生原理，条理清晰，寓教于乐，给宝宝们上了一堂丰富、全面的光学课。
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item" data-url="/14043986/album/3646417">
                    <a href="http://www.tigerartstudio.cn/wechat/BabyPhisics/QuantumInformationForBabies">
                        <span class="pic default-img fl">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BabyPhisics/QuantumInformationForBabies.png">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">宝宝的量子信息学</p>
                            <p class="cont">
                                量子信息是现代物理学最前沿的内容之一，也是最热门的应用技术之一，量子密钥、量子计算机均是这一学科热门的研究课题。克里斯·费利所著的《宝宝的量子信息学》通过绘本的形式介绍量子信息学的基本内容，从计算机的比特开始，逐步介绍了量子比特的强大功能，展示了量子信息无法估量的应用前景。
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item" data-url="/14043986/album/3646417">
                    <a href="http://www.tigerartstudio.cn/wechat/BabyPhisics/QuantumPhysicsForBabies">
                        <span class="pic default-img fl">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BabyPhisics/QuantumPhysicsForBabies.png">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">宝宝的量子物理学</p>
                            <p class="cont">
                                克里斯·费利所著的《宝宝的量子物理学》通过绘本的形式将原子结构中电子的量子化分布以及跃迁清晰地表达了出来，使得婴幼儿得以接触最前沿的当然也是最基本的量子物理学，成为小小量子物理学家。这样的孩子从小就奠定了良好的量子物理学直觉，在长大以后也就不会对量子物理学感到陌生或害怕了。
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item" data-url="/14043986/album/3646417">
                    <a href="http://www.tigerartstudio.cn/wechat/BabyPhisics/QuantumEntanglementForBabies">
                        <span class="pic default-img fl">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BabyPhisics/QuantumEntanglementForBabies.png">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">宝宝的量子纠缠学</p>
                            <p class="cont">
                                克里斯·费利所著的《宝宝的量子纠缠学》通过绘本的形式将很可能研究生才能接触的内容介绍给婴幼儿，而重要的是所讲述的确实是量子纠缠最本质的物理内容，其物理内涵至今人们并未真正懂得，所以这是一个开放的问题，看到这本书的孩子，量子纠缠的奥秘要靠你来揭开了！
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    /*
     * 注意：
     * 1. 所有的JS接口只能在公众号绑定的域名下调用，公众号开发者需要先登录微信公众平台进入“公众号设置”的“功能设置”里填写“JS接口安全域名”。
     * 2. 如果发现在 Android 不能分享自定义内容，请到官网下载最新的包覆盖安装，Android 自定义分享接口需升级至 6.0.2.58 版本及以上。
     * 3. 常见问题及完整 JS-SDK 文档地址：http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html
     *
     * 开发中遇到问题详见文档“附录5-常见错误及解决办法”解决，如仍未能解决可通过以下渠道反馈：
     * 邮箱地址：weixin-open@qq.com
     * 邮件主题：【微信JS-SDK反馈】具体问题
     * 邮件内容说明：用简明的语言描述问题所在，并交代清楚遇到该问题的场景，可附上截屏图片，微信团队会尽快处理你的反馈。
     */
    wx.config({
        debug: false,
        appId: 'wxf0aa207b2437d9bc',
        timestamp: @Model.Timestamp,
        nonceStr: '@Model.NouceString',
        signature: '@Model.Signature',
        jsApiList: [
          // 所有要调用的 API 都要加到这个列表中
          'checkJsApi',
           'onMenuShareTimeline',
           'onMenuShareAppMessage',
           'showMenuItems',
           'showOptionMenu'
        ]
    });
    wx.ready(function () {
        // 在这里调用 API
        wx.onMenuShareTimeline({
            title: '@Html.Raw(Model.Title)',
            desc: '@Html.Raw(Model.Description)',
            link: 'http://www.tigerartstudio.cn/wechat/morningnightsharing/@Model.ID',
            imgUrl: 'http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/MorningNightSharing/@(Model.ID).jpg',
            trigger: function (res) {
                // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
                //alert('用户点击发送给朋友');
            },
            success: function (res) {
                window.location.href = '@Html.Raw(Model.JumpUrl)';
            },
            cancel: function (res) {
                //alert('已取消');
            },
            fail: function (res) {
                alert(JSON.stringify(res));
            }
        });
    });
</script>
</html>

