@model JSSDKViewModel
@using Microsoft.AspNet.Http.Authentication
@{
    ViewData["Title"] = Model.Title;
    Layout = null;

    HtmlString message;

    if (ViewData["enableRolling"].ToString() == "true") {
        message = new HtmlString(string.Format("<div style='font-family: KaiTi; font-size: smaller; color: darkcyan; margin-bottom:10px; height: 185px; overflow: auto'><marquee behavior='scroll' direction='up' style='height: 155px; ' scrollamount=1>{0}</marquee></div>", Model.Description));
    }
    else {
        message = new HtmlString(string.Format("<div style='font-family: KaiTi; font-size: smaller; color: darkcyan; margin-bottom:10px; height: 185px; overflow: auto'>{0}</div>", Model.Description));
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/story_20160917_6.css" />
    <link rel="stylesheet" href="../../lib/bootstrap/dist/css/bootstrap.css" />
    <link href="../../lib/jplayer/dist/skin/blue.monday/css/jplayer.blue.monday_1.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"></script>
    @*<script type="text/javascript">
            //<![CDATA[
            $(document).ready(function () {

                $(".free-btn").bind("click", function() {
                    $(".main-bg").css("-webkit-filter", "blur(10px)");
                    $(".shade").show();
                });

            });
            //]]>
        </script>*@
    @*<style type="text/css">
            .shade {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url(../images/OxfordLevel0_small.png) 10px top no-repeat rgba(0,0,0,0.5);
                display: none;
            }
        </style>*@
</head>
<body>
    <div id="jp_container_1" style="margin-left: 2px; height: 100%" class="jp-video jp-video-270p" role="application" aria-label="media player">
        <div class="jp-type-playlist">
            @if (Model.ID.Contains("Class1") || Model.ID.Contains("BabyBear") || Model.ID.Contains("PandaBear"))
            {
                <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000" style="width: 98%; height: 210px; display: block;margin: 0 auto;">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                    <li data-target="#myCarousel" data-slide-to="5"></li>
                    <li data-target="#myCarousel" data-slide-to="6"></li>
                    <li data-target="#myCarousel" data-slide-to="7"></li>
                    <li data-target="#myCarousel" data-slide-to="8"></li>
                    <li data-target="#myCarousel" data-slide-to="9"></li>
                    <li data-target="#myCarousel" data-slide-to="10"></li>
                    <li data-target="#myCarousel" data-slide-to="11"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=2&sn=27bc63b28b0050f136d91cfda9f47a86&scene=23&srcid=0619bDRLHg57t2zmDBaaq496#rd">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/merged.jpg" alt="Radio Station" class="img-responsive" style="height:250px;display: block;margin: 0 auto;" />
                        </a>
                    </div>
                    <div class="item">
                        <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=1&sn=0aaffc9d8e172a32f5a37cc642c64645&scene=23&srcid=06205XAAaMawO95SckQihLnN#rd">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/Elephant.jpg" alt="Radio Station" class="img-responsive" style="height: 250px; display: block;margin: 0 auto;"/>
                        </a>
                    </div>
                    <div class="item">
                        <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=2&sn=27bc63b28b0050f136d91cfda9f47a86&scene=23&srcid=0619bDRLHg57t2zmDBaaq496#rd">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/Horse.jpg" alt="Radio Station" class="img-responsive" style="height: 250px; display: block;margin: 0 auto;"/>
                        </a>
                    </div>
                    <div class="item">
                        <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=1&sn=0aaffc9d8e172a32f5a37cc642c64645&scene=23&srcid=06205XAAaMawO95SckQihLnN#rd">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/PandaBear.jpg" alt="Radio Station" class="img-responsive" style="height: 250px; display: block;margin: 0 auto;"/>
                        </a>
                    </div>
                    <div class="item">
                        <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=2&sn=27bc63b28b0050f136d91cfda9f47a86&scene=23&srcid=0619bDRLHg57t2zmDBaaq496#rd">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/Zebra.jpg" alt="Radio Station" class="img-responsive" style="height: 250px; display: block;margin: 0 auto;"/>
                        </a>
                    </div>
                    <div class="item">
                        <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=1&sn=0aaffc9d8e172a32f5a37cc642c64645&scene=23&srcid=06205XAAaMawO95SckQihLnN#rd">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/Penguin.jpg" alt="Radio Station" class="img-responsive" style="height: 250px; display: block;margin: 0 auto;"/>
                        </a>
                    </div>
                    <div class="item">
                        <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=2&sn=27bc63b28b0050f136d91cfda9f47a86&scene=23&srcid=0619bDRLHg57t2zmDBaaq496#rd">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/Heron.jpg" alt="Radio Station" class="img-responsive" style="height: 250px; display: block;margin: 0 auto;"/>
                        </a>
                    </div>
                    <div class="item">
                        <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=1&sn=0aaffc9d8e172a32f5a37cc642c64645&scene=23&srcid=06205XAAaMawO95SckQihLnN#rd">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/Owl.jpg" alt="Radio Station" class="img-responsive" style="height: 250px; display: block;margin: 0 auto;"/>
                        </a>
                    </div>
                    <div class="item">
                        <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=2&sn=27bc63b28b0050f136d91cfda9f47a86&scene=23&srcid=0619bDRLHg57t2zmDBaaq496#rd">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/Monkey.jpg" alt="Radio Station" class="img-responsive" style="height: 250px; display: block;margin: 0 auto;"/>
                        </a>
                    </div>
                    <div class="item">
                        <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=1&sn=0aaffc9d8e172a32f5a37cc642c64645&scene=23&srcid=06205XAAaMawO95SckQihLnN#rd">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/Fox.jpg" alt="Radio Station" class="img-responsive" style="height: 250px; display: block;margin: 0 auto;"/>
                        </a>
                    </div>
                    <div class="item">
                        <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=2&sn=27bc63b28b0050f136d91cfda9f47a86&scene=23&srcid=0619bDRLHg57t2zmDBaaq496#rd">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/Peacock.jpg" alt="Radio Station" class="img-responsive" style="height: 250px; display: block;margin: 0 auto;"/>
                        </a>
                    </div>
                    <div class="item">
                        <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=1&sn=0aaffc9d8e172a32f5a37cc642c64645&scene=23&srcid=06205XAAaMawO95SckQihLnN#rd">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/Frog.jpg" alt="Radio Station" class="img-responsive" style="height: 250px; display: block;margin: 0 auto;"/>
                        </a>
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            }
            else
            {
                <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000" style="width: 98%; height: 210px; display: block;margin: 0 auto;">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=2&sn=27bc63b28b0050f136d91cfda9f47a86&scene=23&srcid=0619bDRLHg57t2zmDBaaq496#rd">
                                <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/class2/1.jpg" alt="Radio Station" class="img-responsive" style="height:250px;display: block;margin: 0 auto;" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=1&sn=0aaffc9d8e172a32f5a37cc642c64645&scene=23&srcid=06205XAAaMawO95SckQihLnN#rd">
                                <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/class2/2.jpg" alt="Radio Station" class="img-responsive" style="height: 250px; display: block;margin: 0 auto;"/>
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=2&sn=27bc63b28b0050f136d91cfda9f47a86&scene=23&srcid=0619bDRLHg57t2zmDBaaq496#rd">
                                <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/class2/3.jpg" alt="Radio Station" class="img-responsive" style="height: 250px; display: block;margin: 0 auto;"/>
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=1&sn=0aaffc9d8e172a32f5a37cc642c64645&scene=23&srcid=06205XAAaMawO95SckQihLnN#rd">
                                <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/class2/4.jpg" alt="Radio Station" class="img-responsive" style="height: 250px; display: block;margin: 0 auto;"/>
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=2&sn=27bc63b28b0050f136d91cfda9f47a86&scene=23&srcid=0619bDRLHg57t2zmDBaaq496#rd">
                                <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/class2/5.jpg" alt="Radio Station" class="img-responsive" style="height: 250px; display: block;margin: 0 auto;"/>
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=1&sn=0aaffc9d8e172a32f5a37cc642c64645&scene=23&srcid=06205XAAaMawO95SckQihLnN#rd">
                                <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/class2/6.jpg" alt="Radio Station" class="img-responsive" style="height: 250px; display: block;margin: 0 auto;"/>
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=2&sn=27bc63b28b0050f136d91cfda9f47a86&scene=23&srcid=0619bDRLHg57t2zmDBaaq496#rd">
                                <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/class2/7.jpg" alt="Radio Station" class="img-responsive" style="height: 250px; display: block;margin: 0 auto;"/>
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=1&sn=0aaffc9d8e172a32f5a37cc642c64645&scene=23&srcid=06205XAAaMawO95SckQihLnN#rd">
                                <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/class2/8.jpg" alt="Radio Station" class="img-responsive" style="height: 250px; display: block;margin: 0 auto;"/>
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=2&sn=27bc63b28b0050f136d91cfda9f47a86&scene=23&srcid=0619bDRLHg57t2zmDBaaq496#rd">
                                <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/class2/9.jpg" alt="Radio Station" class="img-responsive" style="height: 250px; display: block;margin: 0 auto;"/>
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=1&sn=0aaffc9d8e172a32f5a37cc642c64645&scene=23&srcid=06205XAAaMawO95SckQihLnN#rd">
                                <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/class2/10.jpg" alt="Radio Station" class="img-responsive" style="height: 250px; display: block;margin: 0 auto;"/>
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=2&sn=27bc63b28b0050f136d91cfda9f47a86&scene=23&srcid=0619bDRLHg57t2zmDBaaq496#rd">
                                <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/class2/11.jpg" alt="Radio Station" class="img-responsive" style="height: 250px; display: block;margin: 0 auto;"/>
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=1&sn=0aaffc9d8e172a32f5a37cc642c64645&scene=23&srcid=06205XAAaMawO95SckQihLnN#rd">
                                <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/class2/12.jpg" alt="Radio Station" class="img-responsive" style="height: 250px; display: block;margin: 0 auto;"/>
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=2&sn=27bc63b28b0050f136d91cfda9f47a86&scene=23&srcid=0619bDRLHg57t2zmDBaaq496#rd">
                                <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/class2/13.jpg" alt="Radio Station" class="img-responsive" style="height:250px;display: block;margin: 0 auto;" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=1&sn=0aaffc9d8e172a32f5a37cc642c64645&scene=23&srcid=06205XAAaMawO95SckQihLnN#rd">
                                <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/class2/14.jpg" alt="Radio Station" class="img-responsive" style="height: 250px; display: block;margin: 0 auto;"/>
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=2&sn=27bc63b28b0050f136d91cfda9f47a86&scene=23&srcid=0619bDRLHg57t2zmDBaaq496#rd">
                                <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/class2/15.jpg" alt="Radio Station" class="img-responsive" style="height: 250px; display: block;margin: 0 auto;"/>
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=1&sn=0aaffc9d8e172a32f5a37cc642c64645&scene=23&srcid=06205XAAaMawO95SckQihLnN#rd">
                                <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/class2/16.jpg" alt="Radio Station" class="img-responsive" style="height: 250px; display: block;margin: 0 auto;"/>
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=2&sn=27bc63b28b0050f136d91cfda9f47a86&scene=23&srcid=0619bDRLHg57t2zmDBaaq496#rd">
                                <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/class2/17.jpg" alt="Radio Station" class="img-responsive" style="height: 250px; display: block;margin: 0 auto;"/>
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=1&sn=0aaffc9d8e172a32f5a37cc642c64645&scene=23&srcid=06205XAAaMawO95SckQihLnN#rd">
                                <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/class2/18.jpg" alt="Radio Station" class="img-responsive" style="height: 250px; display: block;margin: 0 auto;"/>
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=2&sn=27bc63b28b0050f136d91cfda9f47a86&scene=23&srcid=0619bDRLHg57t2zmDBaaq496#rd">
                                <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/class2/19.jpg" alt="Radio Station" class="img-responsive" style="height: 250px; display: block;margin: 0 auto;"/>
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=1&sn=0aaffc9d8e172a32f5a37cc642c64645&scene=23&srcid=06205XAAaMawO95SckQihLnN#rd">
                                <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/class2/20.jpg" alt="Radio Station" class="img-responsive" style="height: 250px; display: block;margin: 0 auto;"/>
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=2&sn=27bc63b28b0050f136d91cfda9f47a86&scene=23&srcid=0619bDRLHg57t2zmDBaaq496#rd">
                                <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/class2/21.jpg" alt="Radio Station" class="img-responsive" style="height: 250px; display: block;margin: 0 auto;"/>
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=1&sn=0aaffc9d8e172a32f5a37cc642c64645&scene=23&srcid=06205XAAaMawO95SckQihLnN#rd">
                                <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/class2/22.jpg" alt="Radio Station" class="img-responsive" style="height: 250px; display: block;margin: 0 auto;"/>
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=2&sn=27bc63b28b0050f136d91cfda9f47a86&scene=23&srcid=0619bDRLHg57t2zmDBaaq496#rd">
                                <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/class2/23.jpg" alt="Radio Station" class="img-responsive" style="height: 250px; display: block;margin: 0 auto;"/>
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=1&sn=0aaffc9d8e172a32f5a37cc642c64645&scene=23&srcid=06205XAAaMawO95SckQihLnN#rd">
                                <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/class2/24.jpg" alt="Radio Station" class="img-responsive" style="height: 250px; display: block;margin: 0 auto;"/>
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=2&sn=27bc63b28b0050f136d91cfda9f47a86&scene=23&srcid=0619bDRLHg57t2zmDBaaq496#rd">
                                <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/class2/25.jpg" alt="Radio Station" class="img-responsive" style="height:250px;display: block;margin: 0 auto;" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=1&sn=0aaffc9d8e172a32f5a37cc642c64645&scene=23&srcid=06205XAAaMawO95SckQihLnN#rd">
                                <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/class2/26.jpg" alt="Radio Station" class="img-responsive" style="height: 250px; display: block;margin: 0 auto;"/>
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=2&sn=27bc63b28b0050f136d91cfda9f47a86&scene=23&srcid=0619bDRLHg57t2zmDBaaq496#rd">
                                <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/class2/27.jpg" alt="Radio Station" class="img-responsive" style="height: 250px; display: block;margin: 0 auto;"/>
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=1&sn=0aaffc9d8e172a32f5a37cc642c64645&scene=23&srcid=06205XAAaMawO95SckQihLnN#rd">
                                <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/class2/28.jpg" alt="Radio Station" class="img-responsive" style="height: 250px; display: block;margin: 0 auto;"/>
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=2&sn=27bc63b28b0050f136d91cfda9f47a86&scene=23&srcid=0619bDRLHg57t2zmDBaaq496#rd">
                                <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/class2/29.jpg" alt="Radio Station" class="img-responsive" style="height: 250px; display: block;margin: 0 auto;"/>
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=1&sn=0aaffc9d8e172a32f5a37cc642c64645&scene=23&srcid=06205XAAaMawO95SckQihLnN#rd">
                                <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/class2/30.jpg" alt="Radio Station" class="img-responsive" style="height: 250px; display: block;margin: 0 auto;"/>
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=2&sn=27bc63b28b0050f136d91cfda9f47a86&scene=23&srcid=0619bDRLHg57t2zmDBaaq496#rd">
                                <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/class2/31.jpg" alt="Radio Station" class="img-responsive" style="height: 250px; display: block;margin: 0 auto;"/>
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=1&sn=0aaffc9d8e172a32f5a37cc642c64645&scene=23&srcid=06205XAAaMawO95SckQihLnN#rd">
                                <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/class2/32.jpg" alt="Radio Station" class="img-responsive" style="height: 250px; display: block;margin: 0 auto;"/>
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=2&sn=27bc63b28b0050f136d91cfda9f47a86&scene=23&srcid=0619bDRLHg57t2zmDBaaq496#rd">
                                <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/class2/33.jpg" alt="Radio Station" class="img-responsive" style="height: 250px; display: block;margin: 0 auto;"/>
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364238&idx=1&sn=0aaffc9d8e172a32f5a37cc642c64645&scene=23&srcid=06205XAAaMawO95SckQihLnN#rd">
                                <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/class2/34.jpg" alt="Radio Station" class="img-responsive" style="height: 250px; display: block;margin: 0 auto;"/>
                            </a>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            }

            <audio style="width: 98%; margin: 0px 5px 0px 3px" src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/@(Model.ID).mp3" controls autoplay loop>
                <p>Your browser does not support the <code>audio</code> element </p>
            </audio>
            @Html.Raw(message)
            <div style="height: 45px; margin-top: 10px; border-top-style: groove; border-top-color: lightskyblue; border-top-width: thin; padding-top: 5px;">
                <a style="float: left; margin-left: 12px" href="http://weidian.com/item_classes.html?userid=251230088&c=63590764&des=%E5%8E%9F%E7%89%88%E8%BF%9B%E5%8F%A3" class="btn btn-primary active" role="button">原版进口 <span class="badge">@(new Random().Next(1, 8))</span></a>
                <a style="float: right; margin-right: 12px" href="http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=402601179&idx=1&sn=2cfb5a70504b29d20e73ea669a32029e&scene=1&srcid=0816XOdVHwAEMThJV1kYS03g#rd" class="btn btn-primary active free-btn" role="button">精彩课程 <span class="badge">@(new Random().Next(2, 5))</span></a>
            </div>
        </div>
    </div>
    <div class="shade"></div>
</body>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    /*
     * 注意：
     * 1. 所有的JS接口只能在公众号绑定的域名下调用，公众号开发者需要先登录微信公众平台进入“公众号设置”的“功能设置”里填写“JS接口安全域名”。
     * 2. 如果发现在 Android 不能分享自定义内容，请到官网下载最新的包覆盖安装，Android 自定义分享接口需升级至 6.0.2.58 版本及以上。
     * 3. 常见问题及完整 JS-SDK 文档地址：http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html
     *
     * 开发中遇到问题详见文档“附录5-常见错误及解决办法”解决，如仍未能解决可通过以下渠道反馈：
     * 邮箱地址：weixin-open@qq.com
     * 邮件主题：【微信JS-SDK反馈】具体问题
     * 邮件内容说明：用简明的语言描述问题所在，并交代清楚遇到该问题的场景，可附上截屏图片，微信团队会尽快处理你的反馈。
     */
    wx.config({
        debug: false,
        appId: 'wxf0aa207b2437d9bc',
        timestamp: @Model.Timestamp,
        nonceStr: '@Model.NouceString',
        signature: '@Model.Signature',
        jsApiList: [
          // 所有要调用的 API 都要加到这个列表中
          'checkJsApi',
           'onMenuShareTimeline',
           'onMenuShareAppMessage',
           'showMenuItems',
           'showOptionMenu'
        ]
    });
    wx.ready(function () {
        // 在这里调用 API
        wx.onMenuShareTimeline({
            @*title: '@Html.Raw(Model.Title)',
            desc: '@Html.Raw(Model.Description)',
            link: '@Model.Url',
            imgUrl: 'http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/merged.jpg',*@
            title: '【我要报名】与牛津阅读树齐名的顶级美式英语分级读物 | 兰登1-3阶公益贴心伴读计划',
            desc: '通过听、说、读、唱等多种语音形式的练习，让孩子具备基本的听说能力，更为重要的是潜移默化地培养了孩子的英文好感度，阅读从此成为一种游戏。',
            link: 'http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364454&idx=2&sn=2f4fa1593241c7d93c0b2cb03cd96c8a&scene=23&srcid=0703tuKdvuWgv39t7SFs44Io#rd',
            imgUrl: 'http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/StepIntoReading/brand.gif',
            trigger: function (res) {
                // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
                //alert('用户点击发送给朋友');
            },
            success: function (res) {
                window.location.href = '@Html.Raw(Model.JumpUrl)';
            },
            cancel: function (res) {
                //alert('已取消');
            },
            fail: function (res) {
                alert(JSON.stringify(res));
            }
        });
    });
</script>
</html>
