@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>♪【课件合集】《棕熊4册》全8集</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../../css/site2.css" />
    <script type="text/javascript" src="../../lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div class="container body-content">
        <div class="rich_media_content " id="js_content">
            <ul class="list-album">
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/brownbearcollection/BrownBearClass1">
                        <span class="pic default-img fl">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/BrownBear.jpg">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">♪【伴读】Brown Bear第一课，初次体验优美的韵律</p>
                            <p class="cont">
                                这套书有很强的韵律感，孩子天生对韵律就很敏感。中文环境的孩子，会无师自通地说猫猫，狗狗，鸭鸭，车车，画画...等等，都是韵律的体现。
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/brownbearcollection/BrownBearClass2">
                        <span class="pic default-img fl">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/BrownBear.jpg">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">♪【伴读】Brown Bear第二课，和孩子一起玩转绘本</p>
                            <p class="cont">
                                我们用韵律的方式教孩子的越多，他们接受的也越多，而且对培养语感和乐感都有极大的促进作用。
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/brownbearcollection/PandaBearClass1">
                        <span class="pic default-img fl">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/PandaBear.jpg">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">♪【伴读】Panda Bear第一课，进一步了解动物</p>
                            <p class="cont">
                                结合绘本里的动物，人物，情景，顺着他们的兴趣点，带着韵律的方式去讲，把英文的语音符号，用宝宝喜欢的方式，或者说用一种有亲和力的方式，有效传递给宝宝们，在他们的脑海中形成一幅幅相应的画面，甚至让他们还能容易牢记和复述，相信孩子学语言会越来越顺畅的。
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/brownbearcollection/PandaBearClass2">
                        <span class="pic default-img fl">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/PandaBear.jpg">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">♪【伴读】Panda Bear第二课，每一个孩子都是独一无二的，家长所能给予最好的是陪伴</p>
                            <p class="cont">
                                艾瑞卡尔的文笔带有诗趣，故事简洁轻快，每本书都有多重的内涵：趣味、想象、色彩、幽默……
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/brownbearcollection/BabyBearClass1">
                        <span class="pic default-img fl">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/BabyBear.jpg">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">♪【伴读】Baby Bear第一课，认识可爱的动物</p>
                            <p class="cont">
                                艾瑞·卡尔用他的画笔和充满魔力的拼贴技巧，创造出世界上独一无二的色彩。他亲自制作的色纸材料更是独具匠心，是别人无法模仿的。
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/brownbearcollection/BabyBearClass2">
                        <span class="pic default-img fl">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/BabyBear.jpg">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">♪【伴读】Baby Bear第二课，培养孩子的英文思维</p>
                            <p class="cont">
                                艾瑞·卡尔的创作流露出童稚般的天真，表达出对自然的了解与关爱，也引导小朋友从身边的事物中学习。
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/brownbearcollection2/PolarBearClass1">
                        <span class="pic default-img fl">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/PolarBear.jpg">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">♪【伴读】Polar Bear第一课，跟着视频一起跳起来</p>
                            <p class="cont">
                                艾瑞·卡尔擅长以丰富的想像力，揉合拼贴技巧，将天马行空的创意，转换成知识、学习、梦想的殿堂。
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/brownbearcollection2/PolarBearClass2">
                        <span class="pic default-img fl">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/BrownBearCollection/PolarBear.jpg">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">♪【伴读】Polar Bear第二课，寓教于乐、轻松培养孩子的英文好感度</p>
                            <p class="cont">
                                艾瑞·卡尔毕业于德国的造形艺术学院，曾任纽约时报的美术设计师。三十九岁时创作了第一本图画书《1,2,3 TO THE ZOO》即获意大利波隆那国际儿童图书展设计大奖。
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    /*
     * 注意：
     * 1. 所有的JS接口只能在公众号绑定的域名下调用，公众号开发者需要先登录微信公众平台进入“公众号设置”的“功能设置”里填写“JS接口安全域名”。
     * 2. 如果发现在 Android 不能分享自定义内容，请到官网下载最新的包覆盖安装，Android 自定义分享接口需升级至 6.0.2.58 版本及以上。
     * 3. 常见问题及完整 JS-SDK 文档地址：http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html
     *
     * 开发中遇到问题详见文档“附录5-常见错误及解决办法”解决，如仍未能解决可通过以下渠道反馈：
     * 邮箱地址：weixin-open@qq.com
     * 邮件主题：【微信JS-SDK反馈】具体问题
     * 邮件内容说明：用简明的语言描述问题所在，并交代清楚遇到该问题的场景，可附上截屏图片，微信团队会尽快处理你的反馈。
     */
    wx.config({
        debug: false,
        appId: 'wxf0aa207b2437d9bc',
        timestamp: @Model.Timestamp,
        nonceStr: '@Model.NouceString',
        signature: '@Model.Signature',
        jsApiList: [
          // 所有要调用的 API 都要加到这个列表中
          'checkJsApi',
           'onMenuShareTimeline',
           'onMenuShareAppMessage',
           'showMenuItems',
           'showOptionMenu'
        ]
    });
    wx.ready(function () {
        // 在这里调用 API
        wx.onMenuShareTimeline({
            title: '@Html.Raw(Model.Title)',
            desc: '@Html.Raw(Model.Description)',
            link: 'http://www.tigerartstudio.cn/wechat/morningnightsharing/@Model.ID',
            imgUrl: 'http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/MorningNightSharing/@(Model.ID).jpg',
            trigger: function (res) {
                // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
                //alert('用户点击发送给朋友');
            },
            success: function (res) {
                window.location.href = '@Html.Raw(Model.JumpUrl)';
            },
            cancel: function (res) {
                //alert('已取消');
            },
            fail: function (res) {
                alert(JSON.stringify(res));
            }
        });

        wx.onMenuShareAppMessage({
            title: '@Html.Raw(Model.Title)',
            desc: '@Html.Raw(Model.Description)',
            link: '@Html.Raw(Model.Url)',
            imgUrl: '@Model.ImgUrl',
            trigger: function(res) {
                // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
                //alert('用户点击发送给朋友');
            },
            success: function(res) {
                window.location.href = '@Html.Raw(Model.JumpUrl)';
            },
            cancel: function(res) {
                //alert('已取消');
            },
            fail: function(res) {
                alert(JSON.stringify(res));
            }
        });
    });
</script>
</html>

