@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>♪《葫芦兄弟》全13集</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../../css/site2.css" />
    <script type="text/javascript" src="../../lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div class="container body-content">
        <div class="rich_media_content " id="js_content">
            <ul class="list-album">
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/CalabashBrothersReading_1">
                        <span class="pic default-img fl">
                            <img style="margin-top:auto; margin-bottom:auto;" src="http://www.tigerartstudio.cn/mediaFiles/books1/CalabashBrothers_1.jpg">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">♬《葫芦兄弟》第一集 - 神峰奇遇（蛇蝎二妖逃出葫芦山，老爷爷和穿山甲坠入深渊）</p>
                            <p class="cont">
                                一位老爷爷在山上采药，无意中进入了一个山洞，在洞中他救下一只穿山甲。穿山甲告诉老爷爷自己不小心穿破葫芦山，放走了蛇蝎二妖。穿山甲帮助老爷爷取出了能降妖服魔的宝葫芦籽。
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/CalabashBrothersReading_2">
                        <span class="pic default-img fl">
                            <img style="margin-top:auto; margin-bottom:auto;" src="http://www.tigerartstudio.cn/mediaFiles/books1/CalabashBrothers_2.jpeg">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">♬《葫芦兄弟》第二集 - 七色葫芦（妖怪夜袭葫芦藤，老爷爷相救被擒）</p>
                            <p class="cont">
                                老爷爷种下葫芦籽，有灵性的葫芦籽长得飞快，不久藤上便结出了七个色彩不同的葫芦。蛇蝎二妖得知后，决定除掉葫芦藤。夜晚，老爷爷没有听从葫芦们的劝告，出屋相救，不幸被妖怪擒走。
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/CalabashBrothersReading_3">
                        <span class="pic default-img fl">
                            <img style="margin-top:auto; margin-bottom:auto;" src="http://www.tigerartstudio.cn/mediaFiles/CalabashBrothers/Episode3.jpg">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">♬《葫芦兄弟》第三集 - 误入泥潭（大力娃闯洞救爷爷，被蛇精施计陷入泥潭）</p>
                            <p class="cont">
                                大力娃迫不及待地出来，去妖洞救老爷爷。大力娃力大如牛，而且能变大变小，闯入妖洞如入无人之境。蛇精眼看抵挡不过，就施下毒计，将大力娃骗入泥潭。大力娃有力无处使，被妖精擒住。
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/CalabashBrothersReading_4">
                        <span class="pic default-img fl">
                            <img style="margin-top:auto; margin-bottom:auto;" src="http://www.tigerartstudio.cn/mediaFiles/CalabashBrothers/Episode4.jpg">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">♬《葫芦兄弟》第四集 - 梦窟迷境（二娃千里眼顺风耳本领大，迷镜宫被蛇精所害）</p>
                            <p class="cont">
                                第二个葫芦娃降生了，他用千里眼和顺风耳先探明了妖洞的情况，赶去救大哥和老爷爷。蛇精知道他耳聪目明、机敏过人，使毒计诱他进入迷镜宫。在迷镜宫，千里眼娃被幻象所迷惑,被蛇精幻化成的美女诱惑,被妖怪残忍的刺瞎了双眼、刺聋了一只耳。
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/CalabashBrothersReading_5">
                        <span class="pic default-img fl">
                            <img style="margin-top:auto; margin-bottom:auto;" src="http://www.tigerartstudio.cn/mediaFiles/CalabashBrothers/Episode5.png">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">♬《葫芦兄弟》第五集 - 绝路逢生（穿山甲牺牲自己救爷爷，钢筋铁骨娃及时相救）</p>
                            <p class="cont">
                                穿山甲带老爷爷和千里眼娃顺利逃出了妖洞，却在洞门外惊动了看门蝙蝠。穿山甲牺牲自己，去引开蝙蝠的注意。就在老爷爷将被蝙蝠抓住的紧急关头，还未出世的钢筋铁骨娃赶来相救。
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/CalabashBrothersReading_6">
                        <span class="pic default-img fl">
                            <img style="margin-top:auto; margin-bottom:auto;" src="http://www.tigerartstudio.cn/mediaFiles/CalabashBrothers/Episode6.jpg">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">♬《葫芦兄弟》第六集 - 钢筋铁骨（钢筋铁骨娃硬闯妖洞，不敌刚柔阴阳剑）</p>
                            <p class="cont">
                                钢筋铁骨娃与蝎子精一阵恶斗，蝎子精落荒而逃。坚固的石门挡不住葫芦娃的钢筋铁骨，妖洞里，他一闯到底，撞碎了蛇精的宝贝。蛇精拔出一把“刚柔阴阳剑”，以柔克刚，死死的缠住了葫芦娃。
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/CalabashBrothersReading_7">
                        <span class="pic default-img fl">
                            <img style="margin-top:auto; margin-bottom:auto;" src="http://www.tigerartstudio.cn/mediaFiles/CalabashBrothers/Episode7.png">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">♬《葫芦兄弟》第七集 - 水火奇功（水娃火娃双双出世，救二妖被骗入洞）</p>
                            <p class="cont">
                                水娃和火娃双双出世，他俩的水火奇功对老爷爷的生活帮助很大。蛇蝎二妖为炼七星丹，从深潭底下取出了炼丹宝炉。不料，炉内的火种迅速点燃山头，将二妖困住。善良的水、火二娃不明就里地救了二妖，还被骗进了妖洞。
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/CalabashBrothersReading_8">
                        <span class="pic default-img fl">
                            <img style="margin-top:auto; margin-bottom:auto;" src="http://www.tigerartstudio.cn/mediaFiles/CalabashBrothers/Episode8.png">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">♬《葫芦兄弟》第八集 - 酒酣心冰（水火二娃被骗入洞，蛇精在酒中下毒）</p>
                            <p class="cont">
                                水、火二娃被骗入洞后，二妖用美酒佳肴款待、以歌舞表演助兴。见二娃喜欢喝酒，蛇精暗地里用如意宝贝调出毒酒。火娃喝下后连心都被冻住了，水娃更是醉得不省人事。
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/CalabashBrothersReading_9">
                        <span class="pic default-img fl">
                            <img style="margin-top:auto; margin-bottom:auto;" src="http://www.tigerartstudio.cn/mediaFiles/CalabashBrothers/Episode9.png">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">♬《葫芦兄弟》第九集 - 幽谷彩莲（蛇蝎二妖盗走葫芦，老爷爷得七彩莲花）</p>
                            <p class="cont">
                                蛇蝎二妖又来攻击葫芦藤，他们将老爷爷扔下了山崖，又将千里眼娃和剩下的两个葫芦带回了妖洞。老爷爷被山鹰救下，被带到了葫芦山。葫芦山的山神将七色莲花交给了老爷爷，并告诉他只有再加上这个莲花，葫芦娃才能同心协力、铲妖除魔。
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/CalabashBrothersReading_10">
                        <span class="pic default-img fl">
                            <img style="margin-top:auto; margin-bottom:auto;" src="http://www.tigerartstudio.cn/mediaFiles/CalabashBrothers/Episode10.png">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">♬《葫芦兄弟》第十集 - 捕风捉影（隐身娃潜入妖洞，偷如意戏蛇蝎二妖）</p>
                            <p class="cont">
                                隐身娃只身进入妖洞，眼见兄弟们一个个束手被擒，焦急万分，他灵机一动，叫橙娃用千里眼找到妖怪的如意宝贝，用妙计偷来，然后用隐身法进入蛇蝎的洞穴，把两个妖精戏弄得狼狈不堪。
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/CalabashBrothersReading_11">
                        <span class="pic default-img fl">
                            <img style="margin-top:auto; margin-bottom:auto;" src="http://www.tigerartstudio.cn/mediaFiles/CalabashBrothers/Episode11.png">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">♬《葫芦兄弟》第十一集 - 巧夺如意（隐身娃救出五位哥哥，七弟紫娃六亲不认）</p>
                            <p class="cont">
                                隐身娃偷了蛇妖的“如意”宝贝，救出了五位兄长，又去救七弟，但七弟紫娃已被蛇蝎二妖所迷惑，不认六娃这个哥哥，六娃无法，只能含泪离去。
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/CalabashBrothersReading_12">
                        <span class="pic default-img fl">
                            <img style="margin-top:auto; margin-bottom:auto;" src="http://www.tigerartstudio.cn/mediaFiles/CalabashBrothers/Episode12.png">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">♬《葫芦兄弟》第十二集 - 妖迷心窍（紫娃六亲不认，紫葫芦吸入六兄长）</p>
                            <p class="cont">
                                紫娃被妖精的毒汁妖雾熏陶成听话的乖孩子，他出世后已经不认得爷爷和六个哥哥了，还用紫葫芦射出一道道闪光，把兄弟们的心击碎，让他们自相残杀，最后还被吸进了紫葫芦。老爷爷悲痛欲绝！
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/CalabashBrothersReading_13">
                        <span class="pic default-img fl">
                            <img style="margin-top:auto; margin-bottom:auto;" src="http://www.tigerartstudio.cn/mediaFiles/CalabashBrothers/Episode13.png">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">♬《葫芦兄弟》第十三集 - 七子连心（老爷爷拿出七色莲花，七兄弟合力消灭妖精）</p>
                            <p class="cont">
                                七个葫芦娃全部被蛇妖关进炼丹炉，准备炼成“七星丹”，老爷爷拿出山神给予的“七色莲花”，使七个葫芦娃团结一心，将妖精全部消灭。老爷爷却不幸牺牲。
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    /*
     * 注意：
     * 1. 所有的JS接口只能在公众号绑定的域名下调用，公众号开发者需要先登录微信公众平台进入“公众号设置”的“功能设置”里填写“JS接口安全域名”。
     * 2. 如果发现在 Android 不能分享自定义内容，请到官网下载最新的包覆盖安装，Android 自定义分享接口需升级至 6.0.2.58 版本及以上。
     * 3. 常见问题及完整 JS-SDK 文档地址：http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html
     *
     * 开发中遇到问题详见文档“附录5-常见错误及解决办法”解决，如仍未能解决可通过以下渠道反馈：
     * 邮箱地址：weixin-open@qq.com
     * 邮件主题：【微信JS-SDK反馈】具体问题
     * 邮件内容说明：用简明的语言描述问题所在，并交代清楚遇到该问题的场景，可附上截屏图片，微信团队会尽快处理你的反馈。
     */
    wx.config({
        debug: false,
        appId: 'wxf0aa207b2437d9bc',
        timestamp: @Model.Timestamp,
        nonceStr: '@Model.NouceString',
        signature: '@Model.Signature',
        jsApiList: [
          // 所有要调用的 API 都要加到这个列表中
          'checkJsApi',
           'onMenuShareTimeline',
           'onMenuShareAppMessage',
           'showMenuItems',
           'showOptionMenu'
        ]
    });
    wx.ready(function () {
        // 在这里调用 API
        wx.onMenuShareTimeline({
            title: '@Html.Raw(Model.Title)',
            desc: '@Html.Raw(Model.Description)',
            link: 'http://www.tigerartstudio.cn/wechat/morningnightsharing/@Model.ID',
            imgUrl: 'http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/MorningNightSharing/@(Model.ID).jpg',
            trigger: function (res) {
                // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
                //alert('用户点击发送给朋友');
            },
            success: function (res) {
                window.location.href = '@Html.Raw(Model.JumpUrl)';
            },
            cancel: function (res) {
                //alert('已取消');
            },
            fail: function (res) {
                alert(JSON.stringify(res));
            }
        });

        wx.onMenuShareAppMessage({
            title: '@Html.Raw(Model.Title)',
            desc: '@Html.Raw(Model.Description)',
            link: '@Html.Raw(Model.Url)',
            imgUrl: '@Model.ImgUrl',
            trigger: function(res) {
                // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
                //alert('用户点击发送给朋友');
            },
            success: function(res) {
                window.location.href = '@Html.Raw(Model.JumpUrl)';
            },
            cancel: function(res) {
                //alert('已取消');
            },
            fail: function(res) {
                alert(JSON.stringify(res));
            }
        });
    });
</script>
</html>

