@model JSSDKViewModel
@using Microsoft.AspNet.Http.Authentication
@{
    ViewData["Title"] = Model.Title;
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/story_20160917_6.css" />
    <link rel="stylesheet" href="../../lib/bootstrap/dist/css/bootstrap.css" />
    <link href="../../lib/jplayer/dist/skin/blue.monday/css/jplayer.blue.monday_1.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"></script>
    <script src="../../lib/jquery-collapser/jquery.collapser.min.js"></script>
</head>
<body>
    <div id="jp_container_1" style="margin-left: 2px; height: 100%" class="jp-video jp-video-270p" role="application" aria-label="media player">
        <div class="jp-type-playlist">
            <div class="navbar" style="margin-bottom: 5px;">
                <div class="wrap">
                    <a href="/231563/">
                        <img class="navbar-img" src="https://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/Courseware/TigerStudio_small_gray.png">
                        <div class="navbar-context">
                            <div class="navbar-name">@Model.Title</div>
                            <div class="navbar-user">讲师: @Model.Author</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="alert alert-success desc" style="font-size: small; margin-bottom: 0px; padding-bottom: 5px; padding-top: 5px" role="alert">@Html.Raw(Model.Description)</div>
            @if (Model.ID == "StepIntoReading_1")
            {
                <div class="list-group" style="font-family: cursive;font-size: 12px;margin-bottom: 8px;">                
                    <a href="http://www.tigerartstudio.cn/wechat/EnglishClass/StepIntoReading_ILikeStars?directAccess=true&enableRolling=true&viponly=disable" class="list-group-item" style="color:#337ab7;">♪第一阶段第一课 - I Like Stars</a>
                    <a href="http://www.tigerartstudio.cn/wechat/EnglishClass/StepIntoReading_ILikeBugs?directAccess=true&enableRolling=true&viponly=disable" class="list-group-item" style="color:#337ab7;">♪第一阶段第二课 - I Like Bugs</a>
                    <a href="http://www.tigerartstudio.cn/wechat/EnglishClass/StepIntoReading_Wheels?directAccess=true&enableRolling=true&viponly=disable" class="list-group-item" style="color:#337ab7;">♪第一阶段第三课 - Wheels!</a>
                    <a href="http://www.tigerartstudio.cn/wechat/EnglishClass/StepIntoReading_Boats?directAccess=true&enableRolling=true&viponly=disable" class="list-group-item" style="color:#337ab7;">♪第一阶段第四课 - Boats</a>
                    <a href="http://www.tigerartstudio.cn/wechat/EnglishClass/StepIntoReading_TooManyCats?directAccess=true&enableRolling=true&viponly=disable" class="list-group-item" style="color:#337ab7;">♪第一阶段第五课 - Too Many Cats</a>
                    <a href="http://www.tigerartstudio.cn/wechat/EnglishClass/StepIntoReading_TooManyDogs?directAccess=true&enableRolling=true&viponly=disable" class="list-group-item" style="color:#337ab7;">♪第一阶段第六课 - Too Many Dogs</a>
                    <a href="http://www.tigerartstudio.cn/wechat/EnglishClass/StepIntoReading_HotDog?directAccess=true&enableRolling=true&viponly=disable" class="list-group-item" style="color:#337ab7;">♪第一阶段第七课 - Hot Dog</a>
                    <a href="http://www.tigerartstudio.cn/wechat/EnglishClass/StepIntoReading_HogAndDog?directAccess=true&enableRolling=true&viponly=disable" class="list-group-item" style="color:#337ab7;">♪第一阶段第八课 - Hog and Dog</a>
                    <a href="http://www.tigerartstudio.cn/wechat/EnglishClass/StepIntoReading_JackAndJill?directAccess=true&enableRolling=true&viponly=disable" class="list-group-item" style="color:#337ab7;">♪第一阶段第九课 - Jack and Jill and Big Dog Bill</a>
                    <a href="http://www.tigerartstudio.cn/wechat/EnglishClass/StepIntoReading_DragonEgg?directAccess=true&enableRolling=true&viponly=disable" class="list-group-item" style="color:#337ab7;">♪第一阶段第十课 - Dragon Egg</a>
                    <a href="http://www.tigerartstudio.cn/wechat/EnglishClass/StepIntoReading_WatchYourStep?directAccess=true&enableRolling=true&viponly=disable" class="list-group-item" style="color:#337ab7;">♪第一阶段第十一课 - Watch Your Step, Mr. Rabbit</a>
                    <a href="http://www.tigerartstudio.cn/wechat/EnglishClass/StepIntoReading_BigEgg?directAccess=true&enableRolling=true&viponly=disable" class="list-group-item" style="color:#337ab7;">♪第一阶段第十二课 - Big Egg</a>
                    <a href="http://www.tigerartstudio.cn/wechat/EnglishClass/StepIntoReading_DancingDinos?directAccess=true&enableRolling=true&viponly=disable" class="list-group-item" style="color:#337ab7;">♪第一阶段第十三课 - Dancing Dinos</a>
                    <a href="http://www.tigerartstudio.cn/wechat/EnglishClass/StepIntoReading_LionAndMouse?directAccess=true&enableRolling=true&viponly=disable" class="list-group-item" style="color:#337ab7;">♪第一阶段第十四课 - The Lion and the Mouse</a>
                    <a href="http://www.tigerartstudio.cn/wechat/EnglishClass/StepIntoReading_DinosGotoSchool?directAccess=true&enableRolling=true&viponly=disable" class="list-group-item" style="color:#337ab7;">♪第一阶段第十五课 - Dancing Dinos Go to School</a>
                    <a href="http://www.tigerartstudio.cn/wechat/EnglishClass/StepIntoReading_Sunshine?directAccess=true&enableRolling=true&viponly=disable" class="list-group-item" style="color:#337ab7;">♪第一阶段第十六课 - Sunshine, Moonshine</a>
                </div>
                <div class="alert alert-info" style="font-size: small; margin-bottom: 8px; padding-bottom: 5px; padding-top: 5px" role="alert">第一阶段延伸课程正在会员群进行中，课程安排如下：</div>
                <img src="https://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/Schedule/StepIntoReading_1_Ex.jpg" style="height: 300px; max-width: 98%; display: block;margin: 0 auto;">
            }
            else if (Model.ID == "DKHomeDoctor")
            {
                <div class="list-group" style="font-family: cursive;font-size: 12px;margin-bottom: 8px;">
                    <a href="#" class="list-group-item disabled" style="color:#337ab7;">♪DK家庭医生的正确使用方法</a>
                    <a href="#" class="list-group-item disabled" style="color:#337ab7;">♪常见的症状与常见的疾病</a>
                    <a href="#" class="list-group-item disabled" style="color:#337ab7;">♪就医过程中的关键步骤—病史叙述和相关检查</a>
                    <a href="#" class="list-group-item disabled" style="color:#337ab7;">♪正确的药物认知—安全用药第一步</a>
                    <a href="#" class="list-group-item disabled" style="color:#337ab7;">♪健康——永恒的追求</a>
                </div>
                <div class="alert alert-info" style="font-size: small; margin-bottom: 8px; padding-bottom: 5px; padding-top: 5px" role="alert"><span style="color:darkred; font-weight:bold">课件链接会在课程开始前5分钟自动解锁</span>，课程安排如下：</div>
                <img src="https://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/Schedule/DKHomeDoctor.jpg" style="height: 200px; max-width: 98%; display: block;margin: 0 auto;">
            }
            <br/><br/>
            <div class="footer">
                <a style="float: left; margin-left: 12px" href="http://weidian.com/item_classes.html?userid=251230088&c=72093131&des=%E5%9B%BD%E5%BA%86%E7%89%B9%E4%BB%B7" class="btn btn-primary active" role="button">国庆特价 <span class="badge">@(new Random().Next(1, 8))</span></a>
                @*<a style="float: left; margin-left: 12px" href="https://weidian.com/?userid=251230088" class="btn btn-primary active" role="button">老虎书店 <span class="badge">@(new Random().Next(1, 8))</span></a>*@
                <a style="float: right; margin-right: 12px" href="http://weidian.com/item.html?itemID=1746093768" class="btn btn-primary active" role="button">加入会员 <span class="badge">@(new Random().Next(3800, 4000))</span></a>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.desc').collapser({
                mode: 'lines',
                truncate: 2
            });
        });
    </script>
</body>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    /*
     * 注意：
     * 1. 所有的JS接口只能在公众号绑定的域名下调用，公众号开发者需要先登录微信公众平台进入“公众号设置”的“功能设置”里填写“JS接口安全域名”。
     * 2. 如果发现在 Android 不能分享自定义内容，请到官网下载最新的包覆盖安装，Android 自定义分享接口需升级至 6.0.2.58 版本及以上。
     * 3. 常见问题及完整 JS-SDK 文档地址：http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html
     *
     * 开发中遇到问题详见文档“附录5-常见错误及解决办法”解决，如仍未能解决可通过以下渠道反馈：
     * 邮箱地址：weixin-open@qq.com
     * 邮件主题：【微信JS-SDK反馈】具体问题
     * 邮件内容说明：用简明的语言描述问题所在，并交代清楚遇到该问题的场景，可附上截屏图片，微信团队会尽快处理你的反馈。
     */
    wx.config({
        debug: false,
        appId: 'wxf0aa207b2437d9bc',
        timestamp: @Model.Timestamp,
        nonceStr: '@Model.NouceString',
        signature: '@Model.Signature',
        jsApiList: [
          // 所有要调用的 API 都要加到这个列表中
          'checkJsApi',
           'onMenuShareTimeline',
           'onMenuShareAppMessage',
           'showMenuItems',
           'showOptionMenu'
        ]
    });
    wx.ready(function () {
        // 在这里调用 API
        wx.onMenuShareTimeline({
            title: '【我要报名】100周不间断教唱，玩转鹅妈妈童谣 | 英语启蒙、情商启蒙、认知及身体发展全面培养',
            desc: '',
            link: 'http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364991&idx=2&sn=2a63bb2ea57dc6f5af7556c16e1fe7aa&scene=23&srcid=0807jer6rXaJMHPuRNXjHpl0#rd',
            imgUrl: 'http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/MotherGoose/MotherGoose.png',
            trigger: function (res) {
                // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
                //alert('用户点击发送给朋友');
            },
            success: function (res) {
                window.location.href = '@Html.Raw(Model.JumpUrl)';
            },
            cancel: function (res) {
                //alert('已取消');
            },
            fail: function (res) {
                alert(JSON.stringify(res));
            }
        });

        wx.onMenuShareAppMessage({
            title: '@Html.Raw(Model.WechatTitle)',
            desc: '@Html.Raw(Model.WechatDescription)',
            link: '@Html.Raw(Model.WechatUrl)',
            imgUrl: '@Html.Raw(Model.WechatImgUrl)',
            trigger: function(res) {
                // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
                //alert('用户点击发送给朋友');
            },
            success: function(res) {
                window.location.href = '@Html.Raw(Model.JumpUrl)';
            },
            cancel: function(res) {
                //alert('已取消');
            },
            fail: function(res) {
                alert(JSON.stringify(res));
            }
        });
    });
</script>
</html>
