@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>♪【课件合集】《花格子大象艾玛》基础阶段全7集</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../../css/site2.css" />
    <script type="text/javascript" src="../../lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div class="container body-content">
        <div class="rich_media_content " id="js_content">
            <ul class="list-album">
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/EnglishClass/Elmer_Elmer?viponly=disable">
                        <span class="pic default-img fl">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/EnglishClass/Elmer_Elmer_s.png">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">Elmer</p>
                            <p class="cont">
                                世界上有没有花格子颜色的大象呢？艾玛和其它大象灰灰的颜色不一样，他就是一只花格子颜色的大象，他喜欢讲笑话，有他在绝不冷场，他是大家的开心果。可是，他却有一点小小的烦恼：「为什么自己不是一般的大象？」有一天，他想了一个办法，让自己身上的颜色，变得跟别人一模一样。可是，当他和别人一样时，结果会怎样呢？
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/EnglishClass/Elmer_ElmerInTheSnow_1?viponly=disable">
                        <span class="pic default-img fl">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/EnglishClass/Elmer_ElmerInTheSnow_s.png">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">Elmer in the Snow（上）</p>
                            <p class="cont">
                                你见过雪吗？下雪真的很冷，可是打雪仗却很有意思哦，人人都很高兴，也不觉得冷。这一天，大象们觉得很冷，花格子大象艾玛偏偏把他们带到雪地里，大象们会打雪仗吗……
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/EnglishClass/Elmer_ElmerInTheSnow_2?viponly=disable">
                        <span class="pic default-img fl">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/EnglishClass/Elmer_ElmerInTheSnow_s.png">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">Elmer in the Snow（下）</p>
                            <p class="cont">
                                你见过雪吗？下雪真的很冷，可是打雪仗却很有意思哦，人人都很高兴，也不觉得冷。这一天，大象们觉得很冷，花格子大象艾玛偏偏把他们带到雪地里，大象们会打雪仗吗……
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/EnglishClass/Elmer_ElmerAndTheStranger_1?viponly=disable">
                        <span class="pic default-img fl">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/EnglishClass/Elmer_ElmerAndTheStranger_s.png">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">Elmer and the Stranger（上）</p>
                            <p class="cont">
                                花格子大象艾遇见了一个怪家伙，他喜跳上跳下，而且啊，他跳得可高了！但是他闷闷不乐，认为自己跳得既不高也不远，不够资格参加跳跃大赛。艾玛为了帮助他想出了一个好主意……
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/EnglishClass/Elmer_ElmerAndTheStranger_2?viponly=disable">
                        <span class="pic default-img fl">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/EnglishClass/Elmer_ElmerAndTheStranger_s.png">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">Elmer and the Stranger（下）</p>
                            <p class="cont">
                                花格子大象艾遇见了一个怪家伙，他喜跳上跳下，而且啊，他跳得可高了！但是他闷闷不乐，认为自己跳得既不高也不远，不够资格参加跳跃大赛。艾玛为了帮助他想出了一个好主意……
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/EnglishClass/Elmer_ElmerAndTheLostTeddy_1?viponly=disable">
                        <span class="pic default-img fl">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/EnglishClass/Elmer_ElmerAndTheLostTeddy_s.png">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">Elmer and the Lost Teddy（上）</p>
                            <p class="cont">
                                小狮子、小老虎、小兔子、小猴子、小斑马……他们都有泰迪熊，连花格子大象艾玛都有一只花格子的泰迪熊。可是小象的泰迪熊却不见了！它丢到哪里去了？艾玛把自己的泰迪熊借给小象，然后开始去寻找小象丢失的那一只……
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/EnglishClass/Elmer_ElmerAndTheLostTeddy_2?viponly=disable">
                        <span class="pic default-img fl">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/EnglishClass/Elmer_ElmerAndTheLostTeddy_s.png">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">Elmer and the Lost Teddy（下）</p>
                            <p class="cont">
                                小狮子、小老虎、小兔子、小猴子、小斑马……他们都有泰迪熊，连花格子大象艾玛都有一只花格子的泰迪熊。可是小象的泰迪熊却不见了！它丢到哪里去了？艾玛把自己的泰迪熊借给小象，然后开始去寻找小象丢失的那一只……
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    /*
     * 注意：
     * 1. 所有的JS接口只能在公众号绑定的域名下调用，公众号开发者需要先登录微信公众平台进入“公众号设置”的“功能设置”里填写“JS接口安全域名”。
     * 2. 如果发现在 Android 不能分享自定义内容，请到官网下载最新的包覆盖安装，Android 自定义分享接口需升级至 6.0.2.58 版本及以上。
     * 3. 常见问题及完整 JS-SDK 文档地址：http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html
     *
     * 开发中遇到问题详见文档“附录5-常见错误及解决办法”解决，如仍未能解决可通过以下渠道反馈：
     * 邮箱地址：weixin-open@qq.com
     * 邮件主题：【微信JS-SDK反馈】具体问题
     * 邮件内容说明：用简明的语言描述问题所在，并交代清楚遇到该问题的场景，可附上截屏图片，微信团队会尽快处理你的反馈。
     */
    wx.config({
        debug: false,
        appId: 'wxf0aa207b2437d9bc',
        timestamp: @Model.Timestamp,
        nonceStr: '@Model.NouceString',
        signature: '@Model.Signature',
        jsApiList: [
          // 所有要调用的 API 都要加到这个列表中
          'checkJsApi',
           'onMenuShareTimeline',
           'onMenuShareAppMessage',
           'showMenuItems',
           'showOptionMenu'
        ]
    });
    wx.ready(function() {
        // 在这里调用 API
        wx.onMenuShareTimeline({
            title: '@Html.Raw(Model.Title)',
            desc: '@Html.Raw(Model.Description)',
            link: 'http://www.tigerartstudio.cn/wechat/morningnightsharing/@Model.ID',
            imgUrl: 'http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/MorningNightSharing/@(Model.ID).jpg',
            trigger: function(res) {
                // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
                //alert('用户点击发送给朋友');
            },
            success: function(res) {
                window.location.href = 'http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364758&idx=2&sn=a140e7a15493776539ce8ae77e964d29&scene=23&srcid=0724leeqVI0zEZE1xSAaNoPr#rd';
            },
            cancel: function(res) {
                //alert('已取消');
            },
            fail: function(res) {
                alert(JSON.stringify(res));
            }
        });

        wx.onMenuShareAppMessage({
            title: '@Html.Raw(Model.Title)',
            desc: '@Html.Raw(Model.Description)',
            link: '@Html.Raw(Model.Url)',
            imgUrl: '@Model.ImgUrl',
            trigger: function(res) {
                // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
                //alert('用户点击发送给朋友');
            },
            success: function(res) {
                window.location.href = 'http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364758&idx=2&sn=a140e7a15493776539ce8ae77e964d29&scene=23&srcid=0724leeqVI0zEZE1xSAaNoPr#rd';
            },
            cancel: function(res) {
                //alert('已取消');
            },
            fail: function(res) {
                alert(JSON.stringify(res));
            }
        });
    });
</script>
</html>

