@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>♪【课件合集】《牛津阅读树》第一阶段全18集</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../../css/site2.css" />
    <script type="text/javascript" src="../../lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div class="container body-content">
        <div class="rich_media_content " id="js_content">
            <ul class="list-album">
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/Oxford_GetOn_FirstEpisode_Preview">
                        <span class="pic default-img fl">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/EnglishClass/Oxford_Level1_GetOn_s.png">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">First Stories: Get on（上）</p>
                            <p class="cont">
                                牛津阅读树系列阅读书籍是由牛津大学出版社出版的儿童分级阅读材料，在英国家喻户晓，也是小学使用最多的阅读材料之一。几乎每个学校的小小图书馆里，都会有整套的牛津阅读树书籍供孩子们借阅。
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/Oxford_GetOn_SecondEpisodePreview">
                        <span class="pic default-img fl">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/EnglishClass/Oxford_Level1_GetOn_s.png">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">First Stories: Get on（下）</p>
                            <p class="cont">
                                牛津阅读树系列最大的特点就是它的连贯性。读这些书就像看一部精彩的电视剧，看了一集又一集，总是放不下，必须看完才肯罢休，就是咱们常说的爱不释手。这些书里的故事非常贴近生活，有的时候就像是讲述自己的一次旅游经历。然而，这些故事又不局限于日常生活琐事，会掺入想象的成分，于是就有了一系列的魔法钥匙（magic key）引发的幻想故事（时光穿梭）。更令人百读不厌的还有一个原因：即使是幻想故事也会给孩子们很多启迪，同时也能学到很多历史知识（譬如英国的维多利亚时代人的生活和历史背景等）、了解诗歌体裁、以及很多的考古知识等等。
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/Oxford_FloppyDidThis_FirstEpisodePreview">
                        <span class="pic default-img fl">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/EnglishClass/Oxford_Level1_FloppyDidThis_s.png">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">First Stories: Floppy Did This（上）</p>
                            <p class="cont">
                                牛津阅读树系列就像一家人在给大家讲故事，这一家人就是贯穿整个系列书的主人公 Biff, Chip, Kipper, Mum, 和 Dad，同时也不能忘记他们的那条可爱的小狗 Floppy。牛津阅读树里的故事就是围绕着他们一家人和他们的朋友们展开的，介绍他们生活活动的方方面面：去游泳、去沙滩、堆雪人、小朋友一起玩各种游戏等等。
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/Oxford_FloppyDidThis_SecondEpisodePreview">
                        <span class="pic default-img fl">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/EnglishClass/Oxford_Level1_FloppyDidThis_s.png">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">First Stories: Floppy Did This（下）</p>
                            <p class="cont">
                                牛津阅读树系列阅读等级共分16个阶段，系列的第1级到第11级系列叫做 Reading Tree，孩子的阅读水平达到11级的时候，就应该可以非常自信（confident reader）、通畅地（fluent reader）阅读同等水平的故事书、报章、诗歌等等。从第12级开始，系列名称变成 TreeTops（第12级到16级），相当于孩子的水平已经达到树顶了，接下来主要是根据构建好的阅读计划，在树顶上读更多的书壮大词汇量、扩大知识面。
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/Oxford_KippersAlphabetISpy_FirstEpisodePreview">
                        <span class="pic default-img fl">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/EnglishClass/Oxford_Level1_KippersAlphabetISpy_s.png">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">Phonics: Kipper's Alphabet I Spy（上）</p>
                            <p class="cont">
                                牛津阅读树第一阶，针对英国本土4-5岁的孩子，带孩子进入书的殿堂，帮助他们开始培养读书的习惯，享受读书的乐趣。牛津阅读树第一级系列书共有36本，另外还有同级的自然拼读法系列书12本（两套）、传统故事书4本。第一级的36本系列书包括：无字书24本（Wordless Stories A, Wordless Stories B, 以及2011年出版的无字书新书系列Decode and Develop）、以及单词启蒙系列书12本（First Words 和 More First Words）。
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/Oxford_KippersAlphabetISpy_SecondEpisodePreview">
                        <span class="pic default-img fl">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/EnglishClass/Oxford_Level1_KippersAlphabetISpy_s.png">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">Phonics: Kipper's Alphabet I Spy（下）</p>
                            <p class="cont">
                                牛津阅读树第一阶的单词启蒙系列书为孩子的阅读生涯打下坚实的基础，帮助孩子一步步喜欢上读书、养成阅读的好习惯。本系列共有两套，每一套都有6本。系列一（Stage 1: First Words）有：Who Is It? Six in a Bed, The Pancake, Fun at the Beach, A Good Trick, 和Floppy Floppy；系列二（Stage 1: More First Words）包括：Floppy Did This, Get Dad, Get On, I See, Is It? 和 Up You Go。
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/Oxford_ChipsLetterSounds_FirstEpisodePreview">
                        <span class="pic default-img fl">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/EnglishClass/Oxford_Level1_ChipsLetterSounds_s.png">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">Phonics: Chip's Letter Sounds（上）</p>
                            <p class="cont">
                                牛津阅读树第一阶自然拼读系列书（Sounds and Letters）通过与牛津阅读树系列的主人公一起学习字母和单词的发音，为孩子认读单词开启一扇自然之门，在读书的过程中自然而然地就学会了各种发音规律。第一级自然拼读法系列书共有两套，12本。系列一包括：At the Farm, At the Park, Out in Town, At Home, At the Match, 以及 Fun at School。系列二包括：At the Concert, At the Seaside, At the Market, At the Carnival, At the Party, 和 At the Wildlife Park。
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/Oxford_ChipsLetterSounds_SecondEpisodePreview">
                        <span class="pic default-img fl">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/EnglishClass/Oxford_Level1_ChipsLetterSounds_s.png">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">Phonics: Chip's Letter Sounds（下）</p>
                            <p class="cont">
                                自然拼读系列书主要锻炼孩子的拼读能力，侧重点不是练习复讲故事或者回答问题，而是练习准确地读出目标字母、字母组合以及关键词（keywords），需要重点练习字母或者字母组合的发音（letters and sounds）。这一系列书也有配套的CD，提供音频内容。
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/Oxford_UpYouGoPreview">
                        <span class="pic default-img fl">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/EnglishClass/Oxford_Level1_UpYouGo_s.png">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">First Stories: Up You Go</p>
                            <p class="cont">
                                英国的一些幼儿园从孩子 3岁开始让孩子们接触一些无字书（wordless stories），感兴趣的孩子也可以把书借回家看。大部分学校是从孩子学前班（reception）开始从学校借书回家读的。
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/Oxford_SixInABedPreview">
                        <span class="pic default-img fl">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/EnglishClass/Oxford_Level1_SixInABed_s.png">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">First Stories: Six in a Bed</p>
                            <p class="cont">
                                无字书系列相互间没有太大的差别，不过，一般情况下学校老师会先从系列一（Wordless Stories A或者新版的 Decode and Develop）里面选书给孩子读。如果孩子的看图会话能力进步慢，可以进一步读系列二，甚至把所有的无字书都读一读；如果孩子的看图会话能力进步很快，系列一的书读完就可以开始单词启蒙系列或者自然拼读法系列。
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/Oxford_BiffsWonderWords_FirstEpisodePreview">
                        <span class="pic default-img fl">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/EnglishClass/Oxford_Level1_BiffsWonderWords_s.png">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">Phonics: Biff's Wonder Words（上）</p>
                            <p class="cont">
                                单词启蒙系列（First Words series）和自然拼读法系列（Floppy’s Phonics series）一般是同步进行的，主要根据学校里的教学安排来的。英国小学从学前班开始教孩子单词的拼读法，同时学习新单词。学前班和一年级（4-5岁）主要是拼读、认读单词（sounds and recognition），还不要求孩子拼写单词（spelling）。每一个系列一般都是分别先读系列一里的书目，根据孩子的具体情况，进步快的孩子阅读一个系列就可以进阶；进步慢的孩子可以把所有的系列书都读一读。
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/Oxford_BiffsWonderWords_SecondEpisodePreview">
                        <span class="pic default-img fl">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/EnglishClass/Oxford_Level1_BiffsWonderWords_s.png">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">Phonics: Biff's Wonder Words（下）</p>
                            <p class="cont">
                                传统故事系列相当于扩展故事集（extended stories），属于选读内容，家长可以根据孩子的情况而定，这些书帮助扩大知识面，从不同的侧面了解西方文化和理念。
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/Oxford_FloppysFunPhonicsPreview">
                        <span class="pic default-img fl">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/EnglishClass/Oxford_Level1_FloppysFunPhonics_s.png">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">Phonics: Floppy's Fun Phonics</p>
                            <p class="cont">
                                句子启蒙系列和规律故事系列没有太大的区别，家长可以跟据孩子的具体情况界定读其中的哪些书。每一套里面的故事尽量读完，读完后根据孩子的实际情况确定是否需要读更多同系列的其他套丛书。
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/Oxford_ThePancakePreview">
                        <span class="pic default-img fl">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/EnglishClass/Oxford_Level1_ThePancake_s.png">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">First Stories: The Pancake</p>
                            <p class="cont">
                                句子启蒙系列（First Words series）单词拼读系列（Decode and Develop），以及自然拼读法系列（Floppy’s Phonics series）一般可以同步进行，主要是根据学校里的教学安排来的。英国小学从学前班开始教孩子单词的拼读法，同时学习新单词和学习写作。学前班和一年级（4-5岁）主要是拼读、认读单词（sounds and recognition），还不要求孩子拼写单词（spelling），不过从一年级开始孩子们也开始写作，都是简单的句子。
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/Oxford_AGoodTrickPreview">
                        <span class="pic default-img fl">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/Oxford/AGoodTrick.jpg">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">First Stories: A Good Trick</p>
                            <p class="cont">
                                每一个系列一般都是分别先读系列一里的书目，根据孩子的具体情况，进步快的孩子阅读一个系列就可以进阶；进步慢的孩子可以把所有的系列书都读一读。
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/Oxford_BiffsFunPhonicsPreview">
                        <span class="pic default-img fl">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/Oxford/BiffsFunPhonics.jpg">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">Phonics: Biff's Fun Phonics</p>
                            <p class="cont">
                                每一个系列一般都是分别先读系列一里的书目，根据孩子的具体情况，进步快的孩子阅读一个系列就可以进阶；进步慢的孩子可以把所有的系列书都读一读。
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/Oxford_KippersRhymesPreview">
                        <span class="pic default-img fl">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/Oxford/KippersRhymes.jpg">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">Phonics: Kipper's Rhymes（上）</p>
                            <p class="cont">
                                传统故事系列相当于扩展故事集（extended stories），属于选读内容，家长可以根据孩子的情况而定，这些书帮助扩大知识面，从不同的侧面了解西方文化和理念。
                            </p>
                        </div>
                    </a>
                </li>
                <li class="item">
                    <a href="http://www.tigerartstudio.cn/wechat/Oxford_KippersRhymes_2Preview">
                        <span class="pic default-img fl">
                            <img src="http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/Oxford/KippersRhymes.jpg">
                        </span>
                        <i class="icon icon-arrow fr"></i>
                        <div class="info">
                            <p class="name">Phonics: Kipper's Rhymes（下）</p>
                            <p class="cont">
                                如果统一系列的某一套读完后觉得孩子的阅读水平已经可以从这一级毕业了，家长就可以考虑让孩子读更高一级的丛书，也就是牛津阅读树第二级的丛书。
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    /*
     * 注意：
     * 1. 所有的JS接口只能在公众号绑定的域名下调用，公众号开发者需要先登录微信公众平台进入“公众号设置”的“功能设置”里填写“JS接口安全域名”。
     * 2. 如果发现在 Android 不能分享自定义内容，请到官网下载最新的包覆盖安装，Android 自定义分享接口需升级至 6.0.2.58 版本及以上。
     * 3. 常见问题及完整 JS-SDK 文档地址：http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html
     *
     * 开发中遇到问题详见文档“附录5-常见错误及解决办法”解决，如仍未能解决可通过以下渠道反馈：
     * 邮箱地址：weixin-open@qq.com
     * 邮件主题：【微信JS-SDK反馈】具体问题
     * 邮件内容说明：用简明的语言描述问题所在，并交代清楚遇到该问题的场景，可附上截屏图片，微信团队会尽快处理你的反馈。
     */
    wx.config({
        debug: false,
        appId: 'wxf0aa207b2437d9bc',
        timestamp: @Model.Timestamp,
        nonceStr: '@Model.NouceString',
        signature: '@Model.Signature',
        jsApiList: [
          // 所有要调用的 API 都要加到这个列表中
          'checkJsApi',
           'onMenuShareTimeline',
           'onMenuShareAppMessage',
           'showMenuItems',
           'showOptionMenu'
        ]
    });
    wx.ready(function () {
        // 在这里调用 API
        wx.onMenuShareTimeline({
            title: '@Html.Raw(Model.Title)',
            desc: '@Html.Raw(Model.Description)',
            link: 'http://www.tigerartstudio.cn/wechat/morningnightsharing/@Model.ID',
            imgUrl: 'http://tigerstudio.blob.core.chinacloudapi.cn/mediafiles/MorningNightSharing/@(Model.ID).jpg',
            trigger: function (res) {
                // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
                //alert('用户点击发送给朋友');
            },
            success: function (res) {
                window.location.href = 'http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364758&idx=2&sn=a140e7a15493776539ce8ae77e964d29&scene=23&srcid=0724leeqVI0zEZE1xSAaNoPr#rd';
            },
            cancel: function (res) {
                //alert('已取消');
            },
            fail: function (res) {
                alert(JSON.stringify(res));
            }
        });

        wx.onMenuShareAppMessage({
            title: '@Html.Raw(Model.Title)',
            desc: '@Html.Raw(Model.Description)',
            link: '@Html.Raw(Model.Url)',
            imgUrl: '@Model.ImgUrl',
            trigger: function(res) {
                // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
                //alert('用户点击发送给朋友');
            },
            success: function(res) {
                window.location.href = 'http://mp.weixin.qq.com/s?__biz=MzA5NTU0MTMzOQ==&mid=2652364758&idx=2&sn=a140e7a15493776539ce8ae77e964d29&scene=23&srcid=0724leeqVI0zEZE1xSAaNoPr#rd';
            },
            cancel: function(res) {
                //alert('已取消');
            },
            fail: function(res) {
                alert(JSON.stringify(res));
            }
        });
    });
</script>
</html>

